server {
    if ($host = www.stivemok.tech) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = stivemok.tech) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    # listen on port 80 (http)
    listen 80;
    server_name stivemok.tech www.stivemok.tech;
    location / {
        # redirect any requests to the same URL but on https
        return 301 https://$host$request_uri/;
    }




}
server {
    # listen on port 443 (https)
    listen 443 ssl;
    server_name stivemok.tech www.stivemok.tech;

    # location of the self-signed SSL certificate
    ssl_certificate /etc/letsencrypt/live/stivemok.tech/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/stivemok.tech/privkey.pem; # managed by Certbot




    location / {
        # forward application requests to the gunicorn server
        proxy_pass http://localhost:3000/;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /static {
        # handle static files directly, without forwarding to the application
        alias /home/ubuntu/Specialization-Portfolio/easyCarRental/app/static;
        expires 30d;
    }


}
