h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
        background-color: white;
        font-family: Arial, sans-serif;
        padding: 10px;
        
    }

.carousel {
        max-width: 800px;
	    margin: auto;
        overflow: scroll;
        float: right;
        border-radius: 30px;
        border-spacing: 10px;
        
    }

.carousel img {
        width: 100%;
        height: 100%;
    }
@keyframes slide{
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%);}
}
.slides {
        margin-right: 2dvh;
        display: flex;
        /* animation: slide 30s infinite linear; */
        transition: transform 0.5s ease-in;
    }


.booking-form {
    background-color: rgba(201, 195, 195, 0.788);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    box-sizing: border-box; /*Doesnt work=>prevents overflow of form padding and border*/
    border: 1px solid #ccc;
    margin-left: 0;
}

.booking-form h2 {
    text-align: center;
    
}

.booking-form label {
    font-weight: bold;
}

.booking-form select {
    width: 76%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b4b0b0;
    border-radius: 4px;
}
.booking-form input[type="date"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b4b0b0;
    border-radius: 4px;
}

.booking-form button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: rgb(0, 204, 255);
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}
.booking-form button:hover{
background-color: blueviolet;
}
footer {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center; /*aligns vertically*/
    justify-content: center; /*aligns horizontaly*/
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: 60px;   
}