{% extends "base.html" %}

{% block content %}
    
        
            <h1>Admin Dashboard</h1>
            <h2 style="margin-left: 20px ;">Welcome, Admin!</h2>
            <p style="margin-left: 50px;">From this dashboard, you can manage user accounts, inventory, orders, website content and track vehicles for Easy Car Rental.</p>
       

        <div class="content">
            <h2 class="collapsible">Manage User Accounts</h2>
            <ul class="content-list">
                <li><a href="{{ url_for('register') }}">Create a new user account</a></li>
                <li><a href="update_user.html">Update an existing user account</a></li>
                <li><a href="{{ url_for('users') }}">Delete a user account</a></li>
            </ul>

            <h2 class="collapsible">Manage Inventory</h2>
            <ul class="content-list">
                <li><a href="{{ url_for('AddCar') }}">add car</a></li>
                <li><a href="{{ url_for('UserInfo') }}">user info</a></li>
                <li><a href="{{ url_for('remove_car') }}">remove car</a></li>
                <li><a href="{{ url_for('UpdateCar') }}">update car</a></li>
                <li><a href="{{ url_for('vehicle_count') }}">number of vehicles</a></li>

            </ul>

            <h2 class="collapsible">Manage Orders</h2>
            <ul class="content-list">
                <li><a href="{{ url_for('BookedVehicle') }}">BookedVehicle</a></li>
                <li><a href="update_order.html">Update an order</a></li>
                <li><a href="cancel_order.html">Cancel an order</a></li>
            </ul>

            <h2 class="collapsible">Track Vehicles</h2>
            <ul class="content-list">
                <li><a href="http://www.sinotracking.com/app/index.html?v=20231212014645">Sino Track</a></li>
                <li><a href="https://en.aika168.com/login.aspx?language=en-us">AIKA Gps</a></li>
            </ul>

            <h2 class="collapsible">Manage Website Content</h2>
            <ul class="content-list">
                <li><a href="add_page.html">Add a new page to the website</a></li>
                <li><a href="update_page.html">Update an existing page on the website</a></li>
                <li><a href="remove_page.html">Remove a page from the website</a></li>
            </ul>
        </div>
    </div>

    <style>

        .content {
            margin-left: 10%;
        }
        .container {
            display: flex;
        }

        .sidebar {
            width: 20%;
            padding: 20px;
            background-color: #f1f1f1;
        }

        .content {
            width: 80%;
            padding: 20px;
        }

        .collapsible {
            cursor: pointer;
        }

        .collapsible:hover{
            background-color: blueviolet;
            width: 25%;
            padding: 10px;
            border-radius: 10px;
        }

        .content-list {
            list-style-type: none;
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        .active {
            color: blue;
        }
    </style>

    <script>
        var collapsibles = document.querySelectorAll('.collapsible');
        collapsibles.forEach(function(collapsible) {
            collapsible.addEventListener('click', function() {
                this.classList.toggle('active');
                var contentList = this.nextElementSibling;
                if (contentList.style.maxHeight) {
                    contentList.style.maxHeight = null;
                } else {
                    contentList.style.maxHeight = contentList.scrollHeight + 'px';
                }
            });
        });
    </script>
{% endblock %}