<!doctype html>

<html>
    <head>
        {% if title %}
        <title>{{ title }} - easy</title>
        {% else %}
        <title>Welcome to Easy car rental</title>
        {% endif %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div>
            EASY CAR RENTAL:
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('vehicles') }}">vehicles</a>
            <a href="{{ url_for('location') }}">location</a>
            <a href="{{ url_for('VehicelRegistration') }}">VehicelRegistration</a>
            <a href="{{ url_for('about') }}">ABOUT</a>

            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Admin login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>