{% extends "base.html" %}

{% block content %}
    <section class="booking-form container" style="width: 80%; margin-left: 10%; padding: 20px;">
        <h2>Book Vehicle</h2>

        <form method="post" action="{{ url_for('BookVehicle') }}" enctype="multipart/form-data" style="width: 90%;">
            
            {{ form.hidden_tag() }}
          <div style="display: flex; flex-wrap: wrap;">
            <div class="name" style="padding: 25px; flex: 1;">
              {{ form.fname.label }}
              {{ form.fname(size=32, required=true) }}
            </div>
            <div class="name" style="padding: 25px; flex: 1;">
              {{ form.mname.label }}
              {{ form.mname(size=32, required=true) }}
            </div>
            <div class="name" style="padding: 25px; flex: 1;">
              {{ form.lname.label }}
              {{ form.lname(size=32, required=true) }}
            </div>
            <div class="name" style="padding: 25px; flex: 1;">
              {{ form.idpassport.label }}
              {{ form.idpassport }}
              {% for error in form.idpassport.errors %}
                  <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="name" style="padding: 20px; flex: 2;">
              {{ form.pickup.label }}
              {{ form.pickup(size=20, id="pickup-date", required=true, pattern="\d{4}-\d{2}-\d{2}") }}
            </div>
            <div class="name" style="padding: 20px; flex: 2;">
              {{ form.dropoff.label }}
              {{ form.dropoff(size=20, id="dropoff-date", required=true, pattern="\d{4}-\d{2}-\d{2}") }}
            </div>
          </div>
          <div style="display: flex; flex-wrap: wrap;">
            <div class="name" style=" padding: 10px; flex: 3;">
              {{ form.pickup_location.label }}
              {{ form.pickup_location(id="pickup-location") }}
            </div>
            <div class="name" style="padding: 10px; flex: 3;">
              {{ form.dropoff_location.label }}
              {{ form.dropoff_location(id="dropoff-location") }}
            </div>
            <!-- <div class="name" style="padding: 10px; flex: 3;">
              {{ form.vehicle_type.label }}
              {{ form.vehicle_type(id="vehicle") }}
            </div> -->
            <div class="name" style="padding: 10px; flex: 3;">
              {{ form.PaymentMethod.label }}
              {{ form.PaymentMethod(size=32, required=true) }}
            </div>
          </div>
          <div style="display: flex; flex-wrap: wrap;">
            <div class="name" style="padding: 10px; flex: 1;">
              <button type="submit" class="btn btn-primary" style="width: 20%;">Book Vehicle</button>
            </div>
          </div>
        </form>
    </section>
{% endblock %}
