{% extends 'base.html' %}

{% block content %}
  <h2 style="margin-left: 40%;">Car Owner Info</h2>

  {% if registrations %}
    <ul style="list-style: none; padding: 0; display: flex;" class="registration-list">
      {% for registration in registrations %}
      <li style="margin-bottom: 20px; padding: 10px; border: 1px solid #ccc;  width: 30%;" class="registration-item">
          <ul style="list-style: none; padding: 0;" class="registration-details">
            <li style="margin-bottom: 5px;"><strong>First Name:</strong> {{ registration.fname }}</li>
            <li style="margin-bottom: 5px;"><strong>Middle Name:</strong> {{ registration.mname }}</li>
            <li style="margin-bottom: 5px;"><strong>Last Name:</strong> {{ registration.lname }}</li>
            <li style="margin-bottom: 5px;"><strong>Phone:</strong> {{ registration.phone }}</li>
            <li style="margin-bottom: 5px;"><strong>Email:</strong> {{ registration.email }}</li>
            <li style="margin-bottom: 5px;"><strong>Make:</strong> {{ registration.make }}</li>
            <li style="margin-bottom: 5px;"><strong>Model:</strong> {{ registration.model }}</li>
            <li style="margin-bottom: 5px;"><strong>Vehicle:</strong> {{ registration.vehicle }}</li>
            <li style="margin-bottom: 5px;"><strong>Year:</strong> {{ registration.year }}</li>
            <li style="margin-bottom: 5px;"><strong>Color:</strong> {{ registration.color }}</li>
            <li style="margin-bottom: 5px;"><strong>Price:</strong> {{ registration.price }}</li>
            <li style="margin-bottom: 5px;"><strong>Condition:</strong> {{ registration.condition }}</li>
            <li style="margin-bottom: 5px;"><strong>Plate No:</strong> {{ registration.PlateNo }}</li>
            <li style="margin-bottom: 5px;"><strong>Submission Date:</strong> {{ registration.submissionDate }}</li>
          </ul>
          {% if registration.carreg %}
            <p><strong>Car Registration:</strong></p>
            <a href="data:image/jpeg;base64,{{ registration.carreg }}" download>
              <img style="max-width: 100%; height: auto; margin-top: 10px; max-width: 100px;" class="registration-photo" src="data:image/jpeg;base64,{{ registration.carreg }}" alt="Car Registration">
              <p>Click here to download</p>
            </a>
          {% endif %}
          {% if registration.idpassport %}
            <p><strong>ID/Passport:</strong></p>
            <a href="data:image/jpeg;base64,{{ registration.idpassport }}" download>
              <img style="max-width: 100%; height: auto; margin-top: 10px; max-width: 100px;" class="registration-photo" src="data:image/jpeg;base64,{{ registration.idpassport }}" alt="ID/Passport">
              <p>Click here to download</p>
            </a>
          {% endif %}
          {% if registration.photo1 %}
            <p><strong>Photo 1:</strong></p>
            <a href="data:image/jpeg;base64,{{ registration.photo1 }}" download>
              <img style="max-width: 100%; height: auto; margin-top: 10px; max-width: 100px;" class="registration-photo" src="data:image/jpeg;base64,{{ registration.photo1 }}" alt="Photo 1">
              <p>Click here to download</p>
            </a>
          {% endif %}
          {% if registration.photo2 %}
            <p><strong>Photo 2:</strong></p>
            <a href="data:image/jpeg;base64,{{ registration.photo2 }}" download>
              <img style="max-width: 100%; height: auto; margin-top: 10px; max-width: 100px;" class="registration-photo" src="data:image/jpeg;base64,{{ registration.photo2 }}" alt="Photo 2">
              <p>Click here to download</p>
            </a>
          {% endif %}
      </li>
      {% endfor %}
    </ul>

    <nav aria-label="Page navigation">
      <ul style="list-style: none; padding: 0;" class="pagination">
        {% for page_num in range(1, total_pages + 1) %}
          <li style="display: inline-block; margin-right: 5px;" class="page-item {% if page_num == current_page %}active{% endif %}">
            <a style="text-decoration: none; padding: 5px 10px; background-color: #f5f5f5; border: 1px solid #ddd; color: #333;" class="page-link" href="{{ url_for('vehicles', page=page_num) }}">{{ page_num }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    <p>No registration data available.</p>
  {% endif %}
{% endblock %}
