{% extends "base.html" %}

{% block content %}
    
        <h2>Your Search</h2>
        {% if cars %}
            <ul style="list-style: none; padding: 20;" class="car-list">
                {% for car in cars %}
                    <li style="margin-bottom: 20px; padding: 20px; width: 80%; border: 1px solid #ccc;" class="car-item">
                        <strong>{{ car.make }} {{ car.model }}</strong>
                        <ul style="list-style: none; padding: 20px;" class="car-details">
                            <li style="margin-bottom: 5px;"><strong>Vehicle:</strong> {{ car.vehicle }}</li>
                            <li style="margin-bottom: 5px;"><strong>Year:</strong> {{ car.year }}</li>
                            <li style="margin-bottom: 5px;"><strong>Color:</strong> {{ car.color }}</li>
                            <li style="margin-bottom: 5px;"><strong>Price:</strong> {{ car.price }}</li>
                            <li style="margin-bottom: 5px;"><strong>Condition:</strong> {{ car.condition }}</li>
                            
                            
                            <form action="{{ url_for('BookVehicle', vehicle_id=car.VehicleId, vehicle_type=car.vehicle) }}" method="post" style="margin-left: 0%; width: 10%;">


                                <input type="hidden" name="VehicleId" value="{{ car.VehicleId }}">
                      
                                {% if car.available %}
                      
                                <button style="background-color: rgb(0, 204, 255); padding: 10px; border-radius: 5px; cursor: pointer; font-weight: bold;" type="submit" class="btn">Book Vehicle</button>
                      
                                {% else %}
                      
                                <button style="background-color: rgb(255, 0, 0); padding: 10px; border-radius: 5px; cursor: not-allowed; font-weight: bold;" type="button" class="btn" disabled>Already Booked</button>
                                  {% endif %}
                      
                              </form>


                        <div style="display: flex; justify-content: right; margin-top: -220px;">
                        {% if car.photo1 %}
                            <img style="max-width: 100%; height: auto; max-width: 400px;" class="car-photo" src="data:image/jpeg;base64,{{ car.photo1 }}" alt="Photo 1">
                        {% endif %}
                        {% if car.photo2 %}
                            <img style="max-width: 100%; height: auto; max-width: 400px;" class="car-photo" src="data:image/jpeg;base64,{{ car.photo2 }}" alt="Photo 2">
                        {% endif %}
                        </div>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                {% if current_page > 1 %}
                    <a href="{{ url_for('SearchVehicle', page=current_page-1) }}">Previous</a>
                {% endif %}
                {% for page_num in range(1, total_pages+1) %}
                    {% if page_num == current_page %}
                        <span class="current-page">{{ page_num }}</span>
                    {% else %}
                        <a href="{{ url_for('SearchVehicle', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% endfor %}
                {% if current_page < total_pages %}
                    <a href="{{ url_for('SearchVehicle', page=current_page+1) }}">Next</a>
                {% endif %}
            </div>
        {% else %}
            <p>No vehicle found.</p>
        {% endif %}
    <style>
    button:hover{
      color: blueviolet;
    }
  </style>
{% endblock %}
